[submodule "util"]
	path = util
	url = https://gitee.com/spearNeil/util.git
[submodule "test/viper"]
	path = test/viper
	url = https://gitee.com/spearNeil/viper.git
[submodule "test/plush"]
	path = test/plush
	url = https://gitee.com/spearNeil/Plush.git
[submodule "test/concurrentqueue"]
	path = test/concurrentqueue
	url = https://gitee.com/spearNeil/concurrentqueue.git
[submodule "test/pmem-rocksdb"]
	path = test/pmem-rocksdb
	url = https://gitee.com/spearNeil/pmem-rocksdb.git
